[Unit]
Description=alexo-io static site server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=alex
Group=alex
WorkingDirectory=/home/alex/git/alexo-io
ExecStart=/home/alex/.cargo/bin/servio --port 7777 --host 0.0.0.0 --dir /home/alex/git/alexo-io/site_public --spa --no-reload --cache-assets
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
